<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank">
            <img class="circle hoverable z-depth-1" src="/assets/img/user.JPG">
        </a>
    </div>
    <div class="user-intro center-align">
        <i>{{site.user}}（{{site.english_name}}）</i>
    </div>
    <div class="user-intro center-align">
        <h4>一个生活黑客</h4>
    </div>
    <div class="user-content center-align">
        <p>
            What a wonderful world.
        </p>
        <p>
            To be a better man.
        </p>
    </div>
    <br>
</div>
